.bg-home {
	background-size: cover;
	resize: none;
	background-repeat: no-repeat;
	box-shadow: -10px -10px 50px black;
}
.mycard {
	-webkit-box-shadow: 4px 1px 19px 4px rgba(0,0,0,0.73); 
	box-shadow: 4px 1px 19px 4px rgba(0,0,0,0.73);
}